/* F O N T S */
@font-face {
    font-family: LexendDeca_Bold;
    src: url(/Elementos/LexendDeca/LexendDeca-Bold.ttf)
}

@font-face {
    font-family: LexendDeca_Medium;
    src: url(/Elementos/LexendDeca/LexendDeca-Medium.ttf)
}

@font-face {
    font-family: LexendDeca_Regular;
    src: url(/Elementos/LexendDeca/LexendDeca-Regular.ttf)
}

@font-face {
    font-family: LexendDeca_Light;
    src: url(/Elementos/LexendDeca/LexendDeca-Light.ttf)
}

h1 {
    color: #E37400;
    font-family: LexendDeca_Bold;
    margin-bottom: 20px;
}

h2 {
    color: #FBBC04;
    font-family: LexendDeca_Medium;
    text-align: auto;
}

h3 {
    color: #E37400;
    font-family: LexendDeca_Regular;
    text-align: auto;
}

h5 {
    color: #202124;
    font-family: LexendDeca_Light;
    text-align: auto;
}

p {
    color: #202124;
    font-family: LexendDeca_Light;
}

/* M A I N */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F3F4;
}

.main-content {
    padding: 20px;
    background-color: #F1F3F4;
    margin: 0 150px;
}

/* N A V B A R */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E37400;
    color: #F1F3F4;
}

.logo {
    display: flex;
    align-items: center;
    text-align: center;
    color: #202124;
    margin-left: 150px;
    position: sticky;
    top: 0;
}

.logo-img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.logo h3 {
    margin-bottom: 0px;
    color: white;
}

.icons {
    display: flex;
    gap: 15px;
    margin-right: 150px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #F1F3F4;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.icon-container i {
    color: #E37400;
    font-size: 1.5rem;
    transition: transform 0.2s ease;
}

.icon-container:hover {
    background-color: #FEEFC3;
}

.icon-container:hover i {
    transform: scale(1.2);
}

.icon-container-search-active {
    background-color: #FEEFC3;
}

.icon-container-search-active i {
    transform: scale(1.2);
}

/* F O O T E R */
.footer {
    background-color: white;
    color: #E37400;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    margin: 0 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h2 {
    margin-bottom: 10px;
    color: #E37400;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #202124;
    font-family: LexendDeca_Light;
    text-decoration: none;
}

.footer-section .social-icons a {
    margin: 0 10px;
    color: #202124;
    font-family: LexendDeca_Light;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    color: #202124;
    font-family: LexendDeca_Light;
    text-decoration: none;
}

/* Media Queries */

/* Pantallas de tamaño medio (1000px a 1500px) */
@media screen and (max-width: 1500px) and (min-width: 1000px) {
    .main-content {
        margin: 0 80px;
    }

    .logo {
        margin-left: 50px;
    }

    .icons {
        margin-right: 80px;
    }

    .footer-content {
        margin: 0 80px;
    }
}

/* Pantallas pequeñas (menos de 1000px) */
@media screen and (max-width: 1000px) {
    .main-content {
        margin: 0 20px;
    }

    .logo {
        margin-left: 20px;
    }

    .icons {
        margin-right: 20px;
    }

    .footer-content {
        margin: 0 20px;
    }

    .footer-section {
        flex: 1 1 100%; /* Hace que las secciones del footer se apilen en una sola columna */
        text-align: center;
    }

    .footer-bottom {
        font-size: 12px; /* Ajuste del tamaño de fuente */
    }
}
