* {box-sizing:border-box}

/* Contenedor de Anuncios */
  /* Container */
    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      padding: 20px;
    }

    /* Card styles */
    .card {
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 10px;
      max-width: 400px;
      flex: 1 1 calc(33.33% - 20px); /* 3 cards per row on large screens */
      box-sizing: border-box;
    }

  /* Icon box */
    .icon-box {
      background-color: #FEEFC3;
      color: #E37400;
      border-radius: 15px; /* Bordes redondeados */
      aspect-ratio: 1 / 1; /* Proporción para garantizar el cuadrado */
      width: 80px; /* Define el tamaño base */
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
    }

    .icon {
      font-size: 40px; /* Incrementar tamaño del ícono */
    }

    .text-box h3 {
      margin: 0;
    }

    .text-box p {
      margin: 5px 0 0;
      color: #202124;
    }

/* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .slideshow-container img {
      border-radius: 8px;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: 35px; 
      height: 35px; 
      margin-top: -17.5px; /* Centrar verticalmente el botón */
      padding: 0;
      color: #E37400; /* Color sólido del ícono */
      font-weight: bold;
      font-size: 20px;
      line-height: 35px; /* Igualar al height para centrar verticalmente */
      text-align: center; /* Centrar horizontalmente */
      background-color: rgba(241, 243, 244, 0.5); /* Fondo transparente */
      border-radius: 50%; 
      transition: background-color 0.3s ease;
      user-select: none;
  }
    
  /* Position the "next button" to the right */
  .next {
      right: 10px; /* Ajusta la posición del botón derecho */
  }
    
  .prev {
      left: 10px; /* Ajusta la posición del botón izquierdo */
  }
    
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
      background-color: rgba(254, 239, 195, 0.8);
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  /* O F E R T A S */
    .descuentos-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        margin: 20px 0 20px 0;
    }

    .descuentos-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        max-width: 80%;
    }

    .product-card {
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        transition: transform 0.2s;
        display: flex;
        flex-direction: column;       /* Asegura que los elementos dentro de la card estén en columna */
        height: 100%;                 /* La altura de la card se ajustará a la altura fija */
        justify-content: space-between;
    }
    
    .product-card:hover {
        transform: translateY(-5px);
        background-color: #FEEFC3;
    }
    
    .product-card img {
        width: 100%;
        height: 200px; 
        object-fit: contain; 
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .product-card h3 {
        font-size: 1rem;
        margin: 0 0;
        text-transform: uppercase;
        color: #202124;
    
    }
    
    .product-card .price {
        display: flex; 
        align-items: center; 
        gap: 8px; 
        margin: 10px 0; 
    }
    
    .old-price {
        text-decoration: line-through;
        display: block;
        margin: 0 1px 0 auto;
        margin: 0 0 0 600px 0; /* Espaciado alrededor */
        color: #9AA9A6;
    }
    
    .discount {
        background-color: #FBBC04;
        display: block;
        margin: 0 auto 0 1px;
        color: #202124;
        padding: 3px 8px;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bold;
        display: flex;
    }
    
    .final-price {
        color: #E37400;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 10px 0 5px 0;
    }

/* A P P L E S H O W C A S E*/

    .apple-products-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      position: relative;
      margin: 20px 0 20px 0;
  }
  
  .apple-products-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      max-width: 80%;
  }
    

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}